@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Red Hat Display',
	sans-serif;
	min-height: 100vh;
	background-image: url(pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: hsl(225, 100%, 94%);
	position: relative;
	font-size: 16px;

}
.container
{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 450px;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;

}
.text-content
{
	padding: 7%;
	text-align: center;

}
.title

{
	color: hsl(223, 47%, 23%);
	font-weight: 900;
	font-size: 32px;
	margin-bottom: 20px;
}
.text-content p.subtitle
{
	color: rgba(137, 131, 131, 0.753);
	margin-bottom: 20px;
}
.plan-box
{
	background-color: hsl(225, 100%, 98%);
	border-radius: 12px;
	display: flex;
	padding: 25px;
	align-items: center;
	justify-content: space-between;
	
}
.plan-box-left
{
	display: flex;
	align-items: center;
	text-align: left;

}
.plan-box-left div{
	margin-left: 20px;
}
.plan-box-left h5
{
	font-weight: 900;
	font-size: 15px;
}
.plan-box-left p{
	color: rgba(137, 131, 131, 0.753);

}
.plan-box a
{
	font-weight: 900;
	color: darkblue;
	transition: color .3s  ease;
}
.plan-box a:hover
{
	text-decoration: none;
	color: hsl(245, 75%, 52%);
	
}
a.proceed
{
	display: block;
	text-decoration: none;
	color: white;
	background-color: hsl(245, 75%, 52%);
	padding: 20px 0;
	border-radius: 12px;
	margin: 30px 0;
	transition: background-color .3s  ease;
}

a.proceed:hover
{
	background-color: hsl(224, 23%, 55%);

}
a.cancel
{
	color: hsl(224, 23%, 55%);
	text-decoration: none;
	font-weight: 900;
	transition: background-color .3s  ease;
}
a.cancel:hover{
	color: hsl(245, 75%, 52%);
}
@media only screen and (max-width:450px)
{
	body
	{
		background-image: url(pattern-background-desktop.svg);
		font-size: 10px;
	}
	.title
	{
		font-size: 16px;
	}
	div .plan-box{
		padding:10px;
	}
	.plan-box-left div{
		margin-left: 10px;
	}
	a.proceed
	{
		font-size: 12px;
	}
	a.cancel
	{
		font-size: 12px;
	}

	.container
	{
		max-width:90%;
		margin-right: 10px;
		max-height: 90%;
		

	}
}
	

